<div class="chat-container">
  <div class="chat-welcome" role="heading" aria-level="1">
    <span>ברוכים הבאים! 👋</span>
    <span>כאן תוכלו לדבר עם החברים שלכם 🗨️</span>
    <span
      >ולקבל תשובות משעשעות מהבוט שלנו 🤖 מומחה באנגלר ופיתוח אתרים 💻✨</span
    >
  </div>
  <ul class="messages" aria-live="polite">
    @for(msg of messages; track msg.id){
    <app-message
      [message]="msg"
      [currentUserId]="currentUserId"
      role="listitem"
    ></app-message>
    }
  </ul>

  @if(typingUsers.length > 0){
  <div class="typing-indicator" aria-live="polite">
    @for(user of typingUsers; track user.userId){
    {{ user.userName }} מקליד/ה <span></span><span></span><span></span> }
  </div>
  }

  <app-chat-input
    (send)="onSend($event)"
    [currentUserName]="currentUserName"
  ></app-chat-input>
</div>
