<div class="chat-container">
  <div class="chat-welcome" role="heading" aria-level="1">
    <span>ברוכים הבאים לצ'אט המדהים שלנו 👋</span>
    <span>הבוט שלנו מחכה לתת תשובות עם טוויסט ייחודי 🤖</span>
    <span>תהנו מהחוויה, ותתחילו בשאלה הראשונה שלכם 🚀</span>
  </div>
  <ul class="messages" aria-live="polite">
    @for(msg of messages; track msg.id){
    <app-message
      [message]="msg"
      [currentUserId]="currentUserId"
      role="listitem"
    ></app-message>
    } @if(botTyping) {
    <div class="typing-indicator" aria-live="polite">
      🤖 AngularBot is typing <span></span><span></span><span></span>
    </div>
    }
  </ul>
  <app-chat-input (send)="onSend($event)"></app-chat-input>
</div>
