::ng-deep .mat-mdc-dialog-container {
  width: 500px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 221, 221, 1);
  border-radius: 10px;
  font-family: "Roboto", sans-serif;

  .mat-mdc-dialog-content {
    overflow: unset;
  }

  mat-form-field {
    width: 100%;
  }
}
