<h2 mat-dialog-title>הקלד שם משתמש</h2>
<form (ngSubmit)="onSave()">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>שם משתמש</mat-label>
      <input matInput [formControl]="username" />
      <mat-error>חובה להזין שם משתמש</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="username.invalid"
    >
      שמור
    </button>
  </div>
</form>
