.message-container {
  display: flex;
  flex-direction: column;
  width: max-content;
  max-width: 70%;
  margin: 6px 0;
  padding: 10px 15px;
  border-radius: 15px;
  word-wrap: break-word;
  color: #fff;

  &.my-message {
    float: left;
    background-color: var(--color-current-user);
  }

  &.other-message {
    background-color: var(--color-other-user);
  }

  .message-user {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 4px;
  }

  .message-text {
    white-space: pre-wrap;
  }

  .timestamp {
    font-size: 12px;
    padding-top: 5px;
    text-align: left;
    color: var(--color-text-light);
    opacity: 0.5;
  }
}
